# Dependencias (nunca se copian)
node_modules

# Archivos de entorno
.env

# Git
.git
.gitignore

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Tests 
test

# Archivos innecesarios
Dockerfile

# Sistema operativo
.DS_Store
Thumbs.db
